.btn {
  --padding-x: 3rem;
  --padding-y: 10px;
  --transition-delay: 150ms;
  border: none;
  background-color: var(--primary-color);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  cursor: pointer;
  transition: background-color var(--transition-delay) ease-out;
}

.btn:hover {
  background-color: var(--secondary-color);
}
