@layer colors {
  :root {
    --primary-color: #0f5257;
    --secondary-color: #0b3142;
    --tertiary-color: #9c92a3;
    --base-1: #c6b9cd;
    --base-2: #d6d3f0;
    --base-3: #212121;
  }
}

@layer layout {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: dark light;
  }
  body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    font-size: 1.125rem;
  }
  input {
    border: none;
    border-radius: 3px;
    padding: 8px 0;
  }
}
